@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir.ttc") format("truetype");
  /* You can include additional font properties here like font-weight, font-style, etc. */
}

body {
  font-family: "Avenir Book", sans-serif;
}

.no-scroll-bar::-webkit-scrollbar {
  width: 0px;
}

.no-scroll-bar::-webkit-scrollbar-track {
  background: #b1494900;
}

.no-scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.no-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #b1494900;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animate-delayed {
  animation: activateJustifyCenter 0.3s linear forwards 0.3s;
}

@keyframes activateJustifyCenter {
  to {
    justify-content: center;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Adjust this value for desired movement */
  }
  100% {
    transform: translateY(0);
  }
}

.animated-path {
  animation: moveUpDown 2s ease infinite; /* Adjust duration and timing function as needed */
}

.simple {
  width: 200px;
  height: 200px;
  background: red;
}

.simple::before {
  content: "";
  width: 30px;
  height: 40px;
  background: blue;
  position: absolute;
  position: absolute;
  left: 0;
  border-top-right-radius: 200px;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.message {
  position: absolute;
  right: 0;
  top: 0;
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

input::-moz-placeholder {
  color: #8e8e8e;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #8e8e8e;
}

input::-webkit-input-placeholder {
  color: #8e8e8e;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #071841 inset !important; /* This sets a solid background to prevent default styles */
}
